* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: "Nunito";
  color: white;
}

.site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  height: 80px;
  width: 100%;
  border: 5px solid #2eb9ce;
  border-radius: 0 0 50px 50px;
  background-color: #2eb9ce;
  box-shadow: 0 0 14px 12px #2eb9ce;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .icon-buttons {
  display: flex;
  justify-content: center;
}

header .icon-buttons a {
  font-size: 25px;
}

header .icon-buttons a:visited {
  color: white;
}

main {
  min-height: calc(100% - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

main h1 {
  text-align: center;
}

main .mainContent .container-esserini {
  height: 420px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main .mainContent .container-esserini .index-esserino a {
  text-decoration: none;
}

main .mainContent .container-esserini .index-esserino a:visited {
  color: white;
}

main .mainContent .container-esserini .index-esserino a img {
  width: 300px;
  height: auto;
}

main .mainContent .container-esserini .index-esserino a h3 {
  text-align: center;
  font-size: 28px;
}

.homeCagnolini,
.homeOmini,
.cagnolino,
.omino {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: auto;
}

.homeCagnolini h1,
.homeOmini h1,
.cagnolino h1,
.omino h1 {
  margin-bottom: 15px;
}

.homeCagnolini .create-button,
.homeOmini .create-button,
.cagnolino .create-button,
.omino .create-button {
  width: 50px;
  margin: 10px auto;
}

.homeCagnolini .show-button,
.homeOmini .show-button,
.cagnolino .show-button,
.omino .show-button {
  width: 35px;
  margin: 0 auto;
}

.homeCagnolini .buttons,
.homeOmini .buttons,
.cagnolino .buttons,
.omino .buttons {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.homeCagnolini h5,
.homeOmini h5,
.cagnolino h5,
.omino h5 {
  color: green;
  margin-bottom: 15px;
  text-align: center;
}

footer {
  height: 80px;
  width: 100%;
  border-top: 1px solid black;
  height: 80px;
  width: 100vw;
  border: 5px solid #2eb9ce;
  border-radius: 50px 50px 0 0;
  background-color: #2eb9ce;
  box-shadow: 0 0 14px 12px #2eb9ce;
  color: white;
}

footer .footer-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

footer .footer-content span {
  font-size: 12px;
}

